<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeList</title>
</head>
<body>

<ul>{% for grade in grade_list %}
    <li><a href="{% url 'second:get_students' grade.id %}">{{ grade.g_name }}</a></li>
{% endfor %}
</ul>


<hr>
<a href="/two/learn/">Go learn</a>

<hr>
<a href="{% url 'second:learn' %}">Go Go Go</a>

<hr>
<a href="{% url 'second:get_time' 16 40 27 %}">Time time</a>

<hr>
<a href="{% url 'second:get_date' year=2020 month=03 day=25 %}">Date date</a>
</body>
</html>